version: 2.1

orbs:
  ruby-orbs: sue445/ruby-orbs@1.4.3
  reviewdog: yasuhiroki/reviewdog@0.0.3

executors:
  default:
    working_directory: ~/workspace
    docker:
      - image: circleci/ruby:2.6.1-node-browsers
        environment:
          RAILS_ENV: test

commands:
  lint:
    parameters:
      lint_result_file_path:
        description: Lint result file path
        type: string
    steps:
      - checkout
      - run:
          name: Rubocop update
          command: gem update rubocop
      - run: rubocop --out <<parameters.lint_result_file_path>> || true
      - store_artifacts:
          path: <<parameters.lint_result_file_path>>

jobs:
  rails_minitest:
    executor:
      name: default
    steps:
      - checkout
      - ruby-orbs/bundle-install:
          bundle_clean: true
          bundle_extra_args: ''
          bundle_gemfile: Gemfile
          bundle_jobs: 4
          bundle_path: vendor/bundle
          bundle_retry: 3
          cache_key_prefix: v1-bundle
          restore_bundled_with: true
      # 初期設定
      - run:
          name: Database setup
          command: |
            bundle exec rails db:create
            bundle exec rails db:migrate
      - run:
          name: Rails Minitest
          command: bundle exec rake test

workflows:
  continuous-integration:
    jobs:
      - rails_minitest
      - reviewdog/reviewdog:
          linter_image: cagedata/rubocop
          reviewdog_format_option: '-f=rubocop'
          run_linter_steps:
            - lint:
                lint_result_file_path: lint_result.txt
          lint_result_file_path: lint_result.txt
